/* Selector Universal */
*{
    padding: 0 auto;
    margin: 0 auto;
}

/* Select ID */
#contenedor {
    width: 900px;
    height: 400px;
    background-color:  #d49e23;
    color: white;
    display: flex;
    

}

#encabezado {
    width: 900px;
    height: 50px;
color: black;


}

#contenido1{
    height: 70%;
    
    
}

/* Selector de clase */

.texto{
    text-align: justify;
    font-family: Tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}
.border {
    border: solid 5px #333;
    text-align: justify;
    padding-bottom: 120px;
    margin-top: 45px;
    padding-left: 5px;
   
    }
.Derecha{
    margin-left: 100px; 
}

.border1 {
    border: solid 5px #333;
    text-align: justify;
    margin: 20px;
    padding-bottom: 130px;
    color: red;
    }
    
.logo img{
    height: 60px;
    cursor: pointer;
}
.titulos{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
img{
   
    
    height: 100px;
    width: 100px;
    border: 1px solid #ddd;
    margin-left: 5px;
    margin-right: 5px;
}
h2{
    margin-left: 400px;
}
.text1{
    margin: right 100px;;
}
.img4{
   
    display: inline;
    
    margin-bottom: 200px;
    border: 1px solid #ddd;
   
    float: right;
}
.img5{
    display: inline;
    
    margin-bottom: 200px;
    border: 1px solid #ddd;
   
    float: right;
}
.img3{
    margin-top: 100px;
    display: inline;
    height: 100px;
    width: 100px;
    margin-left:42px;
    margin-right: 42px;
    border: 1px solid #ddd;
}


/* Selecto de etiqueta */
ul {
    
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}
p{
    color: red;
}
label{
    color: black;
}

